@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #000;
  color: #f5f3f2;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  width: 100%;
  overflow-x: hidden;
}



@keyframes floaty {
  0%, 100% {
    transform: rotateX(-18deg) rotateY(35deg) translateY(0px);
  }
  50% {
    transform: rotateX(-18deg) rotateY(35deg) translateY(-18px);
  }
}

